footer {
    width: 100%;
    padding-top: 40px;
    box-sizing: border-box;
    height: 150px;
    background-color: #E9DED4;
    filter: opacity(60%);
}

footer > .container > p {
    margin-left: 72px;
    font-family: 'Golos Text', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #313131;
}

@media (min-width: 375px) and (max-width:768px)  {
    footer {
        height: 210px;
    }
    footer > .container > p {
        width: 95%;
        margin-left: 20px;
    }
}